# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.


notifications:
  email: false

sudo: false

language: python

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.pyenv

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

services:
  - postgresql
  - redis

addons:
   postgresql: "9.4"

env:
  - REQUIREMENTS=lowest SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"
  - REQUIREMENTS=release SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"
  - REQUIREMENTS=devel SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"

python:
  - "2.7"
  - "3.5"
  - "pypy"

matrix:
  fast_finish: true
  allow_failures:
    - python: pypy
    - env: REQUIREMENTS=devel SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"

before_install:
  - |
      if [ "$TRAVIS_PYTHON_VERSION" = "pypy" ]; then
        export PYENV_ROOT="$HOME/.pyenv"
        if [ -f "$PYENV_ROOT/bin/pyenv" ]; then
          pushd "$PYENV_ROOT" && git pull && popd
        else
          rm -rf "$PYENV_ROOT" && git clone --depth 1 https://github.com/yyuu/pyenv.git "$PYENV_ROOT"
        fi
        export PYPY_VERSION="5.3.1"
        "$PYENV_ROOT/bin/pyenv" install --skip-existing "pypy-$PYPY_VERSION"
        virtualenv --python="$PYENV_ROOT/versions/pypy-$PYPY_VERSION/bin/python" "$HOME/virtualenvs/pypy-$PYPY_VERSION"
        source "$HOME/virtualenvs/pypy-$PYPY_VERSION/bin/activate"
      fi
  - "nvm install 6; nvm use 6"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: lnielsen
  password:
    secure: "McQSXRNmtCaABH750jB7KEfwcU3uqpG72bx/M/CACqXuWeFuba8TqSgT1+40tQXbUQhzRA43BeQ9bDueN0ZX1A96wJTwUWdZv1lSlI+7/j+E/RD1u/ehvKLJlDRxRYG45ccn9ZiiY65Ri2oAvkWRMK7t0iFQw8eiaaIQW9GtkgAUqd5OvCZBj6hmmMpOksGDJnbW/08Aro/71nqf5fV6IwowzIXe5IpnQ7DCZs79oNvqRw0fMGSeqbmfN1JGPdiHbbbUFzyKEefJPgjnYiRPYr84MEh+d4hQw4PoZeqy+2XSqTAvlUmJc+MsDLQkhc1YGbHB8repVJgaEub5UHnSLKqJ+3mEAcKeUQaxvmw520YXxWAaZxo0FZ5J3R1SumLg6KDUpudAQACXXaOUhiRZS54btOqClNLDKEmPrpVYhlQNgEydz0VcqzXl86Gw7bnjImlnsNMQ5Mfy2unIVk3dmp+AvTV08TA3JM0Nj8k2YUNHn9w3zr8YX4b6ccY1wkhfV1+7Nd2LfZUf5vhI4RVkGsFmh7XaFPeo4PKvDJbuU6KxgAZl4fhNFQN1SP0Z9igiymiZFDydYo/fhzttXeHVU5Dcobr/I7EAOFZzvc860myyjpEAM7G7zrBQ6JQb02Mk/G+nQPEPJJMAEZkv/75OmwkVcHdgRKcoZPHw4iaRhtE="
  distributions: "compile_catalog sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    condition: $REQUIREMENTS = release
