# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

-e git+git://github.com/inveniosoftware/invenio-access#egg=invenio-access
-e git+git://github.com/inveniosoftware/invenio-accounts#egg=invenio-accounts
-e git+git://github.com/inveniosoftware/invenio-db#egg=invenio-db
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
